Babel==2.18.0
docx2pdf==0.1.8
docxcompose==1.4.0
docxtpl==0.20.1
google_api_python_client==2.178.0
gspread==6.2.1
holidays==0.76
Jinja2==3.1.6
mammoth==1.9.1
num2words==0.5.14
pandas==3.0.1
protobuf==7.34.0
python_dateutil==2.9.0.post0
python_docx==1.2.0
Requests==2.32.5
streamlit==1.46.1
